.search-bar {
  border: 0px;
  border-bottom: 2px solid #007bff;
  border-radius: 0px;
  margin-bottom: 20px;
  box-shadow: none;
  font-weight: 300;
}

.search-bar:focus {
  box-shadow: none;
}

.detail-button {
  color: #007bff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.detail-button:hover {
  border: 0px;
  text-decoration: none;
}